html,body {
  padding: 0;
  margin: 0;
  font-family: 'Bai Jamjuree', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-size: .9em;
}

#wrapper {
  display: grid;
  grid-template-columns: fit-content(10rem) 1fr;
  grid-auto-rows: minmax(100px, auto);
}

section {
  font-family: 'Roboto', sans-serif;
  background-color: darkslategrey;
  padding: 3rem;
  color: whitesmoke;
  margin: 0;
}

#nav {
  font-family: 'Roboto', sans-serif;
  float: left;
}

#nav ul {
  list-style-type:none;
  list-style: none;
}

#nav a {
  text-decoration: none;
  font-size: larger;
}

#nav a:hover {
  text-decoration: underline;
}

a {
  color: olive;
}

a:hover {
  color: olivedrab
}

#content {
  padding-top: 1rem;
}

.attrib {
  margin: 2em;
  font-style: italic;
}

.total {
  margin-left: 2em;
  margin-right: 2em;
  font-size: x-large;
  text-decoration: bold;
}